/* 
Comentarios en CSS 
Multiples líneas
*/

/* Selectores */

/* Etiquetas HTML (tags) */

* {
    box-sizing: border-box;
}

h1 {
    color: blue;
    text-align: center;
    margin-bottom: 0;
}

section {
    margin: 10px;
}
/* p {
    font-size: 18px;
    text-align: center;
} */

/* Clases */

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.sub-title {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}

/* IDs */

/* Generalmente es mala práctica usar IDs en CSS */

/* #sub-title {
    font-size: 18px;
    text-align: center;
} */

/* Multiples selectores */
h1,
.sub-title {
    color: rgb(2, 55, 2);
}

/* Selectores de atributo */
[target] {
    color: rgb(41, 4, 105);
    text-decoration: none;
}

[type="email"] {
    border: 2px solid green;
}

/* Selectores combinados*/

/* Descendiente */
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 15px;
}

/* Descendiente directo (hijo) */
nav > li {
    background-color: lightgray;
}

/*Sibling (hermano) */

header ~ section {
    border: 2px solid black;
}

/* Adjacent sibling (hermano adyacente) */

header + section {
    padding: 10px;
    background-color: #b68f8f;
}

/*Pseudo-elementos */

p::first-letter {
    font-size: 200%;
    color: red;
}

li::marker {
    color: green;
    font-size: 150%;
}

/* Pseudo-clases */
a:hover {
    background-color: lightblue;
}

p:nth-child(2) {
    color: orange;
}
